<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level - %logger - ${Environment:-LOCAL} - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="INFO" />
    <logger name="application" level="INFO" />
    <logger name="controllers" level="INFO" />
    <logger name="modules" level="INFO" />
    <logger name="services" level="INFO" />
    <logger name="models" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <!--<logger name="auth" level="INFO" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- <logger name="logger.org.jdbcdslog.StatementLogger" level="DEBUG" />>-->
    <!-- <logger name="slick.jdbc" level="DEBUG"/>>-->
    <!-- Comment out when deploying -->
    <!--<logger name="slick.backend" level="INFO" />-->
    <!--<logger name="slick.compiler" level="INFO" />-->
    <!--<logger name="slick.ast.Node" level="INFO" />-->

</configuration>
